$primary-blue:#00539F;
$primary-blue-secondery: lighten(#00539F,5%);
$primary-blue-third: darken(#00539F ,10%);
$primary-bg-color-first: grey;

$primary-white: white;
$primary-font: "Roboto", helvetica, sans-serif, arial;

@mixin size($size) {
    width: $size;
    height: $size;
  
  }


%margin-auto {
    margin: 0 auto;
}

