#container {
    display: flex;
    width: 100%;
    display: grid;
    grid-template-rows: 100vh 1fr 1fr;
    grid-template-areas: "header"
                        "main"
                        "footer";
}