@use "base";

@keyframes polissiren {
    0% {
        background-color: white;
      }
      50% {
        background-color: blue;
      }
      100% {
        background-color: white;
      }
}

@keyframes polissirenrevert {
    0% {
        background-color: blue;
      }
      50% {
        background-color: white;
      }
      100% {
        background-color: blue;
      }
}