@use "base";

@keyframes polissiren {
    0% {
        background-color: white;
      }
      50% {
        background-color: blue;
      }
      100% {
        background-color: white;
      }
}

@keyframes polissirenrevert {
    0% {
        background-color: blue;
      }
      50% {
        background-color: white;
      }
      100% {
        background-color: blue;
      }
}


@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes vanstertillhoger {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

