@use "base";

.h1 {
    h1 {
    
    color: base.$primary-white;
    font-family: base.$primary-font;
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
    
}
}

h1 {

    color: base.$primary-blue;
    font-family: base.$primary-font;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

h2 {
    color: base.$primary-blue;
    font-family: base.$primary-font;
    font-weight: 700;
    font-size: 1.5em;

}

h3 {
    color: base.$primary-blue-third;
    font-family: base.$primary-font;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 2.2rem;


}
h5 {
    color: base.$primary-blue-third;
    font-family: base.$primary-font;
    font-weight: 100;
    font-size: 1em;
}
